<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% if (locals.err) { %>
        <div><b><i><u><%= err%></u></i></b></div>
    <% } %>
    <form action="/user" method="post">
        <input type="text" name="username">
        <input type="text" name="dob">
        <input type="text" name="rollNumber">
        <button type="submit">Submit</button>
    </form>
    <% if (locals.users) { %>
        <% users.forEach(each => { %>
            <table>
                <thead>Name</thead>
                <thead>Roll</thead>
                <thead>DOB</thead>
                <tbody>
                    <tr>
                        <td><%= each.username %></td>
                        <td><%= each.rollNumber %></td>
                        <td><%= each.dob %></td>
                    </tr>
                </tbody>
            </table>
        <% }) %>
    <% } %>
</body>
</html>
